@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_downward_alt,cancel,close,delete,edit,fullscreen,fullscreen_exit,remove,send,settings,visibility,visibility_off");

:root {
  --text-color: #a9a9a9;
  --background-color: #3c3c3c;
  --head-background-color: #272727;
  --input-background-color: #313131;
  --head-height: 52.5px;
}

input[type= "text"],
input[type= "password"] {
  background-color: var(--input-background-color);
  color: var(--text-color);
  padding-left: 5px;
  margin-top: 20px;
  margin-left: 10px;
  transition: all 1s;
  border-bottom: 1px solid white;

  &:focus {
    outline: none;
    border-color: #33cfc7;
  }
}

button {
  padding-right: 10px;
  -webkit-user-select: none;
  user-select: none;
  background-color: transparent;
  color: var(--text-color) !important;
  padding-left: 10px;
  margin-top: 20px;
}

body {
  position: absolute;
  background-color: var(--background-color);
  overflow: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}

#record-list {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  
  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 10px;
    border: 6px solid var(--background-color);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}


#non-fixed {
  margin-top: 130px;
  height: calc(100vh - 130px);
  margin-left: 60px;
  width: calc(100% - 60px);
  z-index: 1;
}

#main {
  position: absolute;
  height: 100%;
  width: 100%;
}

.record-list-style {
  display: flex;
  align-self: center;
  height: 2.5em;
  width: 90%;
  margin-left: 14px;
  border: 1px solid var(--text-color);
  vertical-align: middle;

  &:last-child {
    margin-bottom: 15px;
  }

  &:not(:first-child) {
    margin-top: 20px;
  }
}


#head {
  width: 100%;
  height: var(--head-height);
  background-color: var(--head-background-color);
  display: flex;
  justify-content: flex-end;
  cursor: default;
  z-index: 10000;
}

#title {
  flex-grow: 1;
  font-size: 15px;
  color: var(--text-color);
  margin: 15px 20px;
  align-self: center;
  -webkit-user-select: none;
  user-select: none;

  &:hover {
    cursor: default;
  }
}

#head button {
  display: flex;
  align-self: center;
  margin-left: 10px;
  &:last-child {
    margin-right: 10px;
  }
}

#Close:hover {
  transition: background-color 0.5s;
  background-color: red;
}

#Maximize:hover,
#Minimize:hover,
#Tray:hover,
#submit:hover {
  transition: background-color 0.5s;
  background-color: grey;
}

#submit {
  align-items: center;
  width: 30px;
  border-radius: 5px;
  margin-left: 10px;
}

p {
  padding: none;
  padding-left: 2%;
  color: var(--text-color);
  margin: none;
  font-size: 20px;
}

#fixed {
  width: 100%;
  height: fit-content;
  position: fixed;
  z-index: 100;
}

#form {
  background-color: var(--background-color);
  padding-left: 60px;
}

span {
  font-size: 25px;
  vertical-align: middle;
  transition: transform 700ms ease;
  transform: rotate(0deg);
}

#settings {
  background-color: var(--head-background-color);
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  bottom: 0;
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline;
}

.spin {
  transform: rotate(360deg);
}

#settings-panel {
  top: 0px;
  position: absolute;
  animation-fill-mode: both;
  height: 100%;
  background-color: var(--head-background-color);
  transition: width 700ms ease;
  container-type: inline-size;
}

@container (width: 300px) {
  .setting {
    transition: opacity 450ms ease;
    opacity: 1 !important;
  }
}

.show-panel {
  width: 300px;
  border-top: 1px solid var(--background-color);
}

.hide-panel {
  content-visibility: hidden;
  width: 60px;
}

#settings-container {
  z-index: 1000;
  width: fit-content;
  position: absolute;
  top: 52.5px;
  height: calc(100% - 52.5px);
}

.setting-label {
  margin-left: 15px;
  width: 10em;
  font-size: 15px;
  text-align: left;
  white-space: nowrap;
  overflow-wrap: normal;
  user-select: none;
  border-right: 1px solid var(--background-color);
  height: 100%;

  & + input {
    margin-left: 10px;
  }
}

@supports (text-wrap: nowrap) {
  .setting-label {
    text-wrap: nowrap;
  }
}

div:has( > .color-picker-container) {
  width: 100%;
}

.color-picker-container {
  display: inline-block;
  width: 100px;
  height: fit-content;
  position: relative;
  margin-left: auto;
  margin-right: 10px;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
}

.pickr {
  height: 23px;
  width: 23px;
  border: 3px solid black;
  border-radius: 23px;

  &:focus {
    outline: none;
  }
}

.setting {
  display: flex;
  height: fit-content;
  width: 100%;
  align-items: center;
  position: relative;
  flex-direction: row;
  opacity: 0;
  justify-content: space-between;
  height: 26px;
}

.settings-divisor {
  position: relative;
  width: 100%;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--background-color);
  padding: 0;
  opacity: 0;
}

@container (width: 300px) {
  .settings-divisor {
    transition: opacity 450ms ease;
    opacity: 1 !important;
  }
}

.pcr-app {
  background-color: #3c3c3c !important;
}

.pcr-result,
.pcr-type {
  color: var(--text-color) !important;
  background-color: var(--input-background-color) !important;
  &:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}

#default {
  padding-left: 7px;
}

.record-button {
  position: relative;
  height: 26px;
  vertical-align: middle;
  top: calc(50% - 13px);
  & > button {
    &:first-child {
      padding-right: 13px;
      border-right: 3px var(--text-color) solid;
    }

    &:last-child {
      padding-left: 10px;
    }
  }
}

.record-label {
  width: 80%;
  height: fit-content;
  line-height: calc(2.5em - 50%);
}

.setting > input {
  position: relative;
  width: 100px;
  margin: 0;
  margin-left: 30px;
  margin-right: 5px;
}

#screen-blocker {
  z-index: 9998;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
}

#password-screen {
  position: absolute;
  top: var(--head-height);
  left: 0px;
  z-index: 10000;
  width: 100%;
  height: calc(100% - var(--head-height));
}

#password-input {
  position: absolute;
  height: var(--field-height);
  width: var(--field-width);
  top: calc(50% - (var(--field-height)/2) - (var(--head-height)/2));
  left: calc(50% - (var(--field-width)/2));
  margin: 0px;
  text-align: center;
  padding: 0px;
}

#password-submit-button {
  height: var(--field-height);
  width: var(--field-width);
  position: absolute;
  top: calc(50% + (var(--field-height)/2) - (var(--head-height)/2));
  left: calc(50% - (var(--field-width)/2));
  border: 1px solid var(--text-color);
  margin-top: 15px;
  
  &:hover {
    transition: background-color 0.3s ease-in-out;
    background-color: gray;
  }
}

#password-form {
  --field-height: 2em;
  --field-width: 20em;
}

input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

#show {
  position: absolute;
  top: calc(50% - (var(--field-height)/2) - (var(--head-height)/2) + 3px);
  left: calc(50% - (var(--field-width)/2) + var(--field-width) + 10px);
}

input[type="checkbox"] {
  width: fit-content;
  margin-right: 18%;
}


.editing-panel {
  position: absolute;
  top: calc(var(--head-height) + 10px);
  width: calc(90% - 10px);
  height: calc(98% - (var(--head-height) + 10px));
  background-color: var(--background-color);
  margin-left: 10px;
  z-index: 100; 
  border: 1px solid var(--text-color);
}

.editing-button-container { 
  display: flex;
  flex-direction: row;
  width: 100%;
  position: absolute;
  top: calc(100% - 46px);
  height: 36px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}

#cancel-edit-btn,
#apply-edit-btn {
  width: fit-content;
  height: fit-content;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 10px;

}

#apply-edit-btn:hover {
  transition: background-color 0.5s;
  background-color: grey;
}

#cancel-edit-btn:hover {
  transition: background-color 0.5s;
  background-color: red;
}
