@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_downward_alt,cancel,close,delete,edit,fullscreen,fullscreen_exit,keyboard_arrow_down,remove,send,settings,visibility,visibility_off");

:root {
  --text-color: #a9a9a9;
  --background-color: #3c3c3c;
  --head-background-color: #272727;
  --input-background-color: #313131;
  --head-height: 52.5px;
  --invalid-color: #cc0b0b;
}

html,
body {
  @apply h-full w-full
}

body {
  background-color: var(--background-color);
}