@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=close,delete,fullscreen,fullscreen_exit,remove,send,settings");

:root {
  --text-color: #a9a9a9;
  --tet: #cc0b0b;
  --background-color: #3c3c3c;
  --head-background-color: #272727;
  --input-background-color: #313131;
}

input[type= "text"] {
  background-color: var(--input-background-color);
  color: var(--text-color);
  padding-left: 5px;
  margin-top: 20px;
  margin-left: 10px;
  transition: all 1s;
  border-bottom: 1px solid white;

  &:focus {
    outline: none;
    border-color: #33cfc7;
  }
}

button {
  padding-right: 10px;
  user-select: none;
  background-color: transparent;
  color: var(--text-color) !important;
  padding-left: 10px;
  margin-top: 20px;
}

body {
  position: absolute;
  background-color: var(--background-color);
  overflow: hidden;
}

html, body {
  width: 100%;
  height: 100%;
}

#record-list {
  height: 100%;
  width: 100%;
  padding-right: 120px;
  overflow-x: hidden;
  overflow-y: auto;
  
  &::-webkit-scrollbar {
    width: 20px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 10px;
    border: 6px solid var(--background-color);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}


#non-fixed {
  margin-top: 130px;
  height: calc(100vh - 130px);
}

#main {
  position: absolute;
  height: 100%;
  width: 100%;
}

.record-list-style {
  display: flex;
  align-self: center;
  height: fit-content;
  width: 90%;

  & > button {
    margin-left: 15px;
  }

  &:last-child {
    margin-bottom: 15px;
  }

  &:not(:first-child) {
    margin-top: 20px;
  }
}


#head {
  width: 100%;
  background-color: var(--head-background-color);
  display: flex;
  justify-content: flex-end;
  cursor: default;
  z-index: 100;
}

#title {
  flex-grow: 1;
  font-size: 15px;
  color: var(--text-color);
  margin: 15px 20px;
  align-self: center;
  user-select: none;

  &:hover {
    cursor: default;
  }
}

#head button {
  display: flex;
  align-self: center;
  margin-left: 10px;
  &:last-child {
    margin-right: 10px;
  }
}

#Close:hover {
  transition: background-color 0.5s;
  background-color: red;
}

#Maximize:hover,
#Minimize:hover,
#submit:hover {
  transition: background-color 0.5s;
  background-color: grey;
}

#submit {
  align-items: center;
  width: 30px;
  border-radius: 5px;
  margin-left: 10px;
}

p {
  padding: none;
  padding-left: 2%;
  color: var(--text-color);
  margin: none;
  font-size: 20px;
}

#fixed {
  width: 100%;
  height: fit-content;
  position: fixed;
  z-index: 100;
}

#form {
  background-color: var(--background-color);
}

span {
  font-size: 25px;
  vertical-align: middle;
}

#settings {
  background-color: var(--input-background-color);
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  bottom: 0;
  margin-bottom: 10px;
  margin-left: 10px;
  display: inline;
}

.spin {
  animation: SettingsSpin 700ms 1 linear;
}

@keyframes SettingsSpin {
  from{transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}