:root {
  --text-color: #a9a9a9;
  --background-color: #3c3c3c;
  --head-background-color: #272727;
}

input[type= "text"],
button {
  background-color: transparent !important;
  color: var(--text-color) !important;
  border: 2px solid var(--text-color);
  border-radius: 20px;
  padding-left: 10px !important;
  margin-top: 20px;
  margin-left: 10px !important;
}

button {
  padding-right: 10px !important;
}

h1 {
  color: var(--text-color);
  margin: 15px 20px !important;
  align-self: center;
  font-size: 25px !important;
}

body {
  background-color: var(--background-color);
}

#record-list {
  display: flex;
  align-self: center;
}

#head {
  width: 100%;
  background-color: var(--head-background-color);
  display: flex;
  justify-content: flex-end;
}

#title {
  flex-grow: 1;
  font-size: 15px !important;
}

#head button {
  display: flex;
  align-self: center;
}

#head button:last-child {
  margin-right: 10px;
}